.table-price {
  width: 600px;
  border: 2px solid $brd-top;
  border-collapse: collapse;
  transform: translateX(-10vw);
}

.table-price__header {
  border-collapse: collapse;
  border: 1px solid $darkfont;
  padding: 10px;
}

.table-price__cell {
  border-collapse: collapse;
  border: 1px solid $darkfont;
  padding: 10px;
}
