.user-gallery {
  font-size: 14px;
}

.user-gallery__title {
  padding: 50px 40px;
  line-height: 30px;
  text-align: center;
}

.user-gallery__list {
  list-style: none;
  line-height: 24px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .user-gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-gallery__item {
    display: flex;
    width: 300px;
  }

  .user-gallery__item--wide {
    flex-grow: 1;
  }
}
